@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{

    public class Link
    {
        public string Name { get; set; }
        public string Url { get; set; }
        public bool IsActive { get; set; }
    }

    private List<Link> Links { get; set; } = new List<Link>()
    {
        new Link { Name = "Active", Url = "#", IsActive = true },
        new Link { Name = "Longer nav link", Url = "#" },
        new Link { Name = "Link", Url = "#" },
        new Link { Name = "Mis Deudas", Url = "Deudas"}
    };

    bool mostrarTablaNueva = false;
    private void OnLinkClick(Link selectedLink)
    {
        // Desactivar todos los enlaces
        foreach (var link in Links)
        {
            link.IsActive = false;
        }

        // Activar el enlace seleccionado
        selectedLink.IsActive = true;

        // Mostrar u ocultar la tabla nueva basado en el enlace seleccionado
        if (selectedLink.Name == "Longer nav link")
        {
            mostrarTablaNueva = true;
        }
        else
        {
            mostrarTablaNueva = false;
        }
    }


}
