@* @page "/Deudas"


<div class="container mt-3">

    <h2>Mis Deudas</h2>
    @if (!mostrarTablaNueva)
    {
        
        <table class="table table-striped table-bordered justify-content mt-3">
            <thead>
                <tr class="text-center bg-header">
                    <th>Cuota</th>
                    <th>Estado</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var semestre in ListaClasesFiltradas)
                {
                    <tr class="text-center">
                        <td>@semestre.Cuota</td>
                   
                        <td>@semestre.Estado</td>
                        <td>
                            <a class="btn btn-primary" href="D_Deuda" role="button">Ver Mi Deuda</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

</div>

@code {

    string filtroEstadoPago = "";

    public List<Deudas> ListaClases { get; set; } = new List<Deudas>
    {
        new Deudas { Cuota = "Cuota#1 Periodo 3-2024", Estado = "Pago Pendiente" },
        new Deudas { Cuota = "Cuota#2 Periodo 3-2024", Estado = "Pago Pendiente"   },
        new Deudas { Cuota = "Cuota#3 Periodo 3-2024", Estado = "Pago pendiente"  }
    };

    List<Deudas> ListaClasesFiltradas
    {
        get
        {
            if (string.IsNullOrWhiteSpace(filtroEstadoPago))
            {
                return ListaClases;
            }
            else
            {
                return ListaClases.Where(semestre => semestre.Estado.Equals(filtroEstadoPago, StringComparison.OrdinalIgnoreCase)).ToList();
            }
        }
    }
    public class Deudas
    {
        public string Cuota { get; set; }
        public string Estado { get; set; }
    }
}
 *@